<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="AdWordsApi" type="System.Configuration.DictionarySectionHandler"/>
	</configSections>
	<appSettings>
		<add key="Edge.Core.Services.Service.BaseListeningUrl" value="net.tcp://localhost:3535/{0}"/>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="d:\test"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.FileName" value="Edge.Deliveries.db4o"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Port" value="2121"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.User" value="sa"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Password" value="sa"/>
	</appSettings>

	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Host=localhost; User=sa; Password=sa; Port=2121;"/>
		<add name="Edge.Services.Google.Adwords.AdwordsReport.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
	</connectionStrings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="Edge.Core.Services.Service.InstanceToEngineBinding" portSharingEnabled="true" receiveTimeout="1:0:0" />
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<AdWordsApi>
		<!-- Change the appropriate flags to turn on SOAP logging. -->
		<add key="LogPath" value="C:\Logs\"/>
		<add key="LogToConsole" value="false"/>
		<add key="LogToFile" value="true"/>
		<add key="MaskCredentials" value="true"/>
		<add key="LogErrorsOnly" value="true"/>

		<!-- Fill the following values if you plan to use a proxy server.-->
		<add key="ProxyServer" value=""/>
		<add key="ProxyUser" value=""/>
		<add key="ProxyPassword" value=""/>
		<add key="ProxyDomain" value=""/>

		<!-- Use this key to change the default timeout for Ads services
        (in milliseconds.)-->
		<add key="Timeout" value="100000"/>

		<!-- Use this key to enable or disable gzip compression in SOAP requests.-->
		<add key="EnableGzipCompression" value="true"/>

		<!-- Fill the header values. -->
		<add key="UserAgent" value="ENTER_YOUR_COMPANY_OR_APPLICATION_NAME_HERE"/>
		<add key="Email" value="ENTER_YOUR_EMAIL_HERE"/>
		<add key="Password" value="ENTER_YOUR_PASSWORD_HERE"/>
		<add key="ClientEmail" value="ENTER_YOUR_CLIENT_EMAIL_HERE"/>
		<add key="DeveloperToken" value="ENTER_YOUR_DEVELOPER_TOKEN_HERE"/>
		<!-- Application token is now optional and will be ignored by the server.-->
		<!-- <add key="ApplicationToken" value="ENTER_YOUR_APPLICATION_TOKEN_HERE"/> -->

		<!-- Uncomment this key and comment ClientEmail if you want to specify
         customer id instead of customer email. -->
		<!-- <add key="ClientCustomerId"
        value="ENTER_YOUR_CLIENT_CUSTOMER_ID_HERE"/> -->

		<!-- Uncomment this if you want to reuse an authToken multiple times. -->
		<!--<add key="AuthToken" value="ENTER_YOUR_AUTH_TOKEN_HERE"/> -->

		<!-- Uncomment this key if you want to use v13 sandbox. -->
		<!-- <add key="LegacyAdWordsApi.Server" value="https://sandbox.google.com"/> -->

		<!-- Uncomment this key if you want to use AdWords API sandbox. -->
		<!-- <add key="AdWordsApi.Server" value="https://adwords-sandbox.google.com"/> -->
	</AdWordsApi>
	<system.web>
		<webServices>
			<soapExtensionTypes>
				<add type="Google.Api.Ads.Common.Lib.SoapListenerExtension, Google.AdWords" priority="1" group="0"/>
			</soapExtensionTypes>
		</webServices>
	</system.web>
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
